.line{
    border-left: 3px solid rgb(25, 59, 151) ;
    height:88%;
    margin-top: 50PX;
    margin-bottom: 0px;
    position: absolute;
    margin-left: 46%;

} 
#title{
    color:rgb(25, 59, 151) ;
    text-align: center;
    font-size: 40PX;
    font-family: 'Times New Roman', Times, serif;
    border-left:2px solid rgb(25, 59, 151);
    border-right:3px solid rgb(25, 59, 151); 
    border-bottom:2px solid rgb(25, 59, 151);
    border-top:2px solid rgb(25, 59, 151);
}
body{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-left:2px solid rgb(25, 59, 151);
    border-right:3px solid rgb(25, 59, 151); 
    border-bottom:2px solid rgb(25, 59, 151);
    
    
}
.academic{
    
    margin-top: 0px;
    margin-left:750px;
    font-family:gregoria;
    font-size:20px;
    color:rgb(25, 59, 151);
    line-height:30px;
    display:block;
}
.left{text-align: left;
    margin-left: 55%;
    position: absolute;
    top:17px;
}
.leftbottom{
    text-align: left;
    margin-left: 55%;
    margin-top:15%;
    position: absolute;
    

}
.lang{
    
    margin-top: 50px;
    margin-left:30px;
    
    font-family:gregoria;
    font-size:20px;
    color:rgb(25, 59, 151);
    line-height: 30px;
    display: block;
}
.box{
    width:47%;
}
.Introduction{
    margin-top:100px;
    
    margin-left:  30px;

    margin-right:40px;
    margin-bottom: 10px;
    font-family:gregoria;
    font-size:20px;
    color:rgb(25, 59, 151);
    line-height: 30px;
    display:inline-block;
}
.cd{
    margin: top 50%;;
    
    margin-left:  30px;

    margin-right:40px;
    margin-bottom: 10px;
    font-family:gregoria;
    font-size:20px;
    color:rgb(25, 59, 151);
    line-height: 30px;
    display:inline-block;
}